<msgqueue />

<if "$forwarding">
	<a href="{=$forwarding}">正在前往您准备浏览的网页……</a>
	<script type="text/javascript">
	setInterval(function(){location='{=$forwarding}'},3000) ;
	</script>
</if>

<form method="post">

	<div>
		system　：<widget id="system" />
	</div>
	<div>
		title_template　：<widget id="title_template" />
	</div>
	<div>
		body_template　：<widget id="body_template" />
	</div>
	
	<hr/>
	<div>
		actor　：<widget id="actor"/>
	</div>
	<div>
		picnum　：<widget id="picnum" />
	</div>
	<div>
		subject　：<widget id="subject" />
	</div>
	<div>
		summary　：<widget id="summary" />
	</div>
	<div>
		touser　：<widget id="touser" />
	</div>
	<div>
		blog　：<widget id="blog" />
	</div>
	<div>
		doing　：<widget id="doing" />
	</div>
	<div>
		thread　：<widget id="thread" />
	</div>
	<div>
		album　：<widget id="album" />
	</div>
	
	<hr/>
	<div>
		type1　：<widget id="type1" />
	</div>
	<div>
		url1　：<widget id="url1" />
	</div>
	<div>
		link1　：<widget id="link1" />
	</div>
	
	<br/>
	<div>
		type2　：<widget id="type2" />
	</div>
	<div>
		url2　：<widget id="url2" />
	</div>
	<div>
		link2　：<widget id="link2" />
	</div>
	
	<br/>
	<div>
		type3　：<widget id="type3" />
	</div>
	<div>
		url3　：<widget id="url3" />
	</div>
	<div>
		link3　：<widget id="link3" />
	</div>
	<input type="submit" value="保存" /> 
	
</form>