<model:foreach ><!-- //for="$theModel->child('attachments')" item="aChildModelABC" -->
<li>
	{=$theModel['title_html']}<br/>
	{=$theModel['body_html']}
	
	{*注释}
	<model:foreach_ for="$theModel->child('attachments')" >
		{=$theModel['url']}
	</model:foreach_>
	
	
	<foreach for="$theModel->child('attachments')->childIterator()" item="value">
		<if "$value['type']=='image'">
			<a href="{=$value['link']}"><img border="0" src="{=$value['url']}" /></a>
		</if>
	</foreach>
	
	
	<div>评论</div>
</li>
</model:foreach>
