<css src="userstate:css/userstate.css" />
<lib name="jquery"/>

<if "$theParams->get('rspn')!='view.noframe'">
<div class="newStateDisplayDiv" style="display:none">有<span class="newStateNumberSpan" updateTime=""></span>条新动态 <a href="javascript:;" onClick="loadNewStateHtml()">查看</a></div>
</if>

<div class="StateDiv">
<ul>
	<model:foreach ><!-- //for="$theModel->child('attachments')" item="aChildModelABC" -->
	<li>
		<!-- 这行是title -->
		<div>{=$theModel['service']}:{=$theModel['title_html']}</div>
		<!-- 这行是body -->
		<div>{=$theModel['body_html']}</div>
		
		<!-- 这行是图片 -->
		<div>
		<foreach for="$theModel->child('attachments')->childIterator()" item="value">
			<if "$value['type']=='image'">
				<!-- 每一张图 -->
				<span><a href="{=$value['link']}"><img border="0" src="{=$value['url']}" /></a></span>
			</if>
		</foreach>
		</div>
		
		<!-- 这行是视频 -->
		<div>这行是视频</div>
		<!-- 这行是音频 -->
		<div>这行是音频</div>
		
		
		
		<if "$theModel->child('source')">
		<!-- 这里是转发 -->
		<div>
			<!-- 这行是title -->
			<div>{=$theModel['source.service']}:{=$theModel['source.title_html']}</div>
			<!-- 这行是body -->
			<div>{=$theModel['source.body_html']}</div>
			
			<!-- 这行是图片 -->
			<div>
			<foreach for="$theModel->child('attachments')->childIterator()" item="value">
				<if "$value['type']=='image'">
					<!-- 每一张图 -->
					<span><a href="{=$value['link']}"><img border="0" src="{=$value['url']}" /></a></span>
				</if>
			</foreach>
			</div>
			
			<!-- 这行是视频 -->
			<div>这行是视频</div>
			<!-- 这行是音频 -->
			<div>这行是音频</div>
		</div>
		</if>
		
		
		
		
		
		
		
	</li>
	<hr/>
	</model:foreach>
</ul>

</div>


<if "$theParams->get('rspn')!='view.noframe'">
<a href="javascript:;" onClick="loadMoreStateHtml()" nowRow="30" class="moreState">查看更多动态</a><!-- class moreState 不要删 -->
</if>
<script type="text/javascript">

function loadNewStateHtml(){
	jQuery.ajax({
	    type: "GET",
	    url: "/?c=org.opencomb.userstate.ListState&rspn=view.noframe&limitlen="+jQuery(".newStateNumberSpan").html(),
	    dataType: "html",
	    success: function(html) {
	    	jQuery(".StateDiv").prepend(html);
	    	jQuery(".newStateNumberSpan").attr("updateTime",Date.parse(new Date())/1000);
	    	jQuery(".newStateDisplayDiv").hide();
	    }
	});
}

function loadMoreStateHtml(){
	jQuery.ajax({
	    type: "GET",
	    url: "/?c=org.opencomb.userstate.ListState&rspn=view.noframe&limitfrom="+jQuery(".moreState").attr("nowRow"),
	    dataType: "html",
	    success: function(html) {
	    	jQuery(".StateDiv").append(html);
	    	jQuery(".moreState").attr("nowRow",parseInt(jQuery(".moreState").attr("nowRow")) + parseInt(jQuery(".moreState").attr("nowRow")))
	    }
	});
}


function checkNewState(){
	
	jQuery.ajax({
	    type: "GET",
	    url: "/?c=org.opencomb.oauth.api.PullState",
	    dataType: "html",
	    success: function(html) {
	    	var updateTime=jQuery(".newStateNumberSpan").attr("updateTime");
	    	if(updateTime == ""){
	    		jQuery(".newStateNumberSpan").attr("updateTime",Date.parse(new Date())/1000);
	    	}else{
	    		jQuery.ajax({
	    		    type: "GET",
	    		    url: "/?c=org.opencomb.userstate.NewStateNumber&time="+updateTime,
	    		    dataType: "html",
	    		    success: function(html) {
	    		    	if(html!="0"){
	    			    	jQuery(".newStateDisplayDiv").show();
	    			    	jQuery(".newStateNumberSpan").html(html);
	    		    	}else{
	    		    		jQuery(".newStateDisplayDiv").hide();
	    		    	}
	    		    }
	    		});
	    	}
	    }
	});
	
}
window.setInterval("checkNewState()",3000);
</script>